body {

}

aside {
    float: left;
    background: #7a7676;
    width: 20%;
    padding: 2.5%;
    height:100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img{
    width: 125%;
    display: block;
    padding-right: 30px
}

aside .photo {
    font-weight: bold;
    color: #111;
    display: block;
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 28px;
}

aside h3 {
    font-weight: bold;
    margin-left: 30px;
    color: #111;
    font-size: 30px;
}

aside ul li a {
    color: #ad8d23;
    text-decoration: none;
}

aside ul li a:hover {
    color: #ad8d23;
    text-decoration: underline;
}

aside ul {list-style: none}

aside ul li a {
    display: inline-block;
    transition: transform 0.2s cubic-bezier(.25,1.5,.5,1);
    color: #ad8d23;
    text-decoration: none;
}

aside ul li a:hover {
    transform: scale(1.1);
    color: #ad8d23;
    text-decoration: underline;
}

p {
    font-size: 22px;
}

.features {
    padding-top: 150px;
    margin-left: 22%;
    text-align: center;
}

.features h1 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 22px;
}

.features p {
    font-size: 24px;
    font-weight: bold;

}